<h2><%= "#{@user.first_name}'s Kitchen" %></h2>

<%= form_for @user do |f| %>
  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |i| %>
    <div>
      <%= i.check_box %><%= i.label { i.text } %>
    </div>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>