<div class="kitchen-edit-header"><h1><%= "#{current_user.first_name}'s Kitchen" %></h1></div>

<div class="ui form">

<%= form_for current_user, url: edit_kitchen_path, action: 'patch' do |f| %>


  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.category_sort, :id, :name) do |ing| %>

    <div class="ui checkbox" >
      <%= ing.check_box checked: current_user.kitchen.include?(ing.object) %><%= ing.label { ing.text } %>
    </div><br>
  <% end %>
  <br>
  <div ><%= f.submit class:"ui blue button" %></div>
<% end %>
</div>



<% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
<% end %>
