<h1><%= "#{current_user.first_name}'s Kitchen" %></h1>

<!-- List all of user's current items -->
<% if current_user.kitchen.count > 0 %>
  <ul class="ui bulleted list">
    <% current_user.kitchen.each do |ing| %>
      <li><%= ing.name %></li>
    <% end %>
  </ul>
<!-- If user has no items -->
<% else %>
  <p>Time to hit the grocery store! Your kitchen is empty.</p>
<% end %>

<!-- Link to edit current items -->
<div class="compact ui yellow button">
  <p><%= link_to "Need to update your kitchen?", edit_kitchen_path(current_user) %></p>
</div>

<!-- Link to show matching recipes -->
<div class="compact ui yellow button">
  <p><%= link_to "Update your Dietary Restrictions", edit_restricted_path(current_user) %></p>
</div>

<!--  -->
<div class="compact ui yellow button">
  <p><%= link_to "Show me what's for dinner (filter out restricted ingredients)", recipes_path(restrictions: true) %></p>
</div>

<div class="compact ui yellow button">
  <p><%= link_to "Show me all recipes (don't filter ingredients)", recipes_path(restrictions: false) %></p>
</div>
