<h1><%= "#{current_user.first_name}'s Kitchen" %></h1>

<%= form_tag '/kitchens', method: :post do %>
  <% Ingredient.category_sort.each do |ing| %>
  <div>
    <%= check_box_tag 'ingredient_ids[]', ing.id, checked: current_user.kitchens.include?(ing.id)  %><%= ing.name %>
  </div>
  <% end %>

  <%= submit_tag %>
<% end %>

<!-- Array of all possible ingredients -->
<!-- If Ingredient.id is in Kitchens with current_user.id, select it -->
<!-- In params, return array of Ingredient id's -->