<!DOCTYPE html>
<html>
  <head>
    <title>Smörgåsbord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <h1>Smörgåsbord</h1>
    <% if current_user %>
      <%= form_tag logout_path, method: 'delete' do %>
      <div>
        <p>Welcome, <%= current_user.first_name %></p>
      </div>
      <%= submit_tag "Logout" %>
      <% end %>
    <% end %>

    <hr>
    <%= yield %>
  </body>
</html>
